<table class="table">
  <thead>
  <tr>
    <th>Closing</th>
    <th>On</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%=prediction.value %></td>
    <td><%=prediction.for_date %></td>
  </tr>
  </tbody>
</table>