<h1>Stock List</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Stock ID</th>
    <th>Company</th>
  </tr>
  </thead>
  <tbody>
  <% @stocks.each do |stock| %>
      <tr>
        <td><%= link_to stock.stock_id, stock%></td>
        <td><%= stock.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />


<p><%= will_paginate @stocks %></p>