  <table class="table-bordered table-striped">
    <tr>
      <td>
        <%= image_tag("gaurav.jpg")%>
      </td>
      <td>
        R. Gaurav Agarwal<br/>
        +91 9176343852
      </td>
    </tr>
    <tr>
      <td>
        R. Kunal Wadhwa<br/>
        +91 9884001277
      </td>
      <td>
        <%= image_tag("kunal.jpg") %>
      </td>
    </tr>
  </table>